{{> header }}
<tr>
	<td class="content-wrap">
		<meta itemprop="name" content="Confirm password reset"/>
		<table width="100%" cellpadding="0" cellspacing="0">
		  <tr>
				<td class="aligncenter content-block">
					<h1 class="aligncenter">Passwort zurücksetzen</h1>
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block">
					Hallo {{ name }}, wir haben die Anfrage erhalten das du dein Passwort zurücksetzen möchtest.
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
					<a href="{{ link }}" class="btn-primary" itemprop="url">Passwort zurücksetzen</a>
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block">
					Wenn du diese Nachricht ignorierst bleibt dein passwort wie es ist.
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          Wenn du es nicht warst der dein Passwort zurücksetzen wollte <a href='mailto:{{returnEmail}}?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.'>lass es uns wissen!</a>
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block">
					&mdash; Human Connection
				</td>
			</tr>
		</table>
	</td>
</tr>
{{> footer }}
