	      </table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Human Connection gGmbH | <a href="https://human-connection.org/">human-connection.org</a></td>
						</tr>
					</table>
				</div>
			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>