{{> header }}
<tr>
    <td class="content-wrap">
        <meta itemprop="name" content="Confirm Email"/>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="aligncenter content-block">
                    <h1 class="aligncenter">Please confirm your email address</h1>
                </td>
            </tr>
            <tr>
                <td class="aligncenter content-block">
                    Hi {{ name }}, please confirm your email address by clicking the link below.
                </td>
            </tr>
            <tr>
                <td class="aligncenter content-block">
                    We may need to send you critical information about our service and it is important that we have an accurate email address.
                </td>
            </tr>
            <tr>
                <td class="aligncenter content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                    <a href="{{ link }}" class="btn-primary" itemprop="url">Confirm email address</a>
                </td>
            </tr>
            <tr>
                <td class="aligncenter content-block">
                    &mdash; Human Connection
                </td>
            </tr>
        </table>
    </td>
</tr>
{{> footer }}