{{> header }}
<tr>
	<td class="content-wrap">
		<meta itemprop="name" content="Password reset"/>
		<table width="100%" cellpadding="0" cellspacing="0">
		  <tr>
				<td class="aligncenter content-block">
					<h1 class="aligncenter">Password reset</h1>
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block">
					Hi {{ name }}, your password was just reset.
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block">
					If you didn't request this change please <a href='mailto:{{returnEmail}}?subject=I did not reset my password&body=Someone unauthorized changed my password. Can you send me a reset link?'>let us know</a>
				</td>
			</tr>
			<tr>
				<td class="aligncenter content-block">
					&mdash; Human Connection
				</td>
			</tr>
		</table>
	</td>
</tr>
{{> footer }}