{{#extend templatePath . "../../layout/layout" title="title"}}
{{#content "main"}}
<tr>
	<td class="content-wrap">
		<meta itemprop="name" content="Confirm Email"/>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td class="content-block">
					{{ name }}, Please confirm your email address by clicking the link below.
				</td>
			</tr>
			<tr>
				<td class="content-block">
					We may need to send you critical information about our service and it is important that we have an accurate email address.
				</td>
			</tr>
			<tr>
				<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
					<a href="http://www.mailgun.com" class="btn-primary" itemprop="url">Confirm email address</a>
				</td>
			</tr>
			<tr>
				<td class="content-block">
					&mdash; The Mailgunners
				</td>
			</tr>
		</table>
	</td>
</tr>
{{/content}}
{{/extend}}